@use "./mixins/breakpoints.scss" as mix;
@use "./mixins/variables" as var;

body {
  background: var.$background;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var.$font-color-primary;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mix.tablet {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.pageTitle {
  margin: 0;
  color: var.$secondary-color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: -1px 2px 0 rgb(0, 0, 0), 2px 2px 0 #000, 1px -1px 0 rgb(0, 0, 0),
    -1px -1px 0 #000;

  @include mix.tablet {
    margin-bottom: 19px;
    font-size: 30px;
  }
  @include mix.desktop {
    font-size: 40px;
    margin-bottom: 0;
  }
}

.filterUsers {
  &__form {
    @include mix.tablet {
      margin-bottom: -7px;
    }
    @include mix.desktop {
      margin-bottom: -20px;
    }
  }
}

.profilesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  @include mix.tablet {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  @include mix.desktop {
    margin-bottom: 17px;
  }

  .usersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var.$secondary-color;
    border-radius: 10px;
    width: 320px;
    margin-top: 40px;
    height: 160px;

    @include mix.tablet {
      margin: 12px;
      height: 241px;
    }
    @include mix.desktop {
      height: 230px;
      padding-top: -100px;
    }
    &__img {
      width: 26%;
      border-radius: 50%;

      @include mix.tablet {
        width: 40%;
      }
      @include mix.desktop {
        width: 35%;
      }
    }
    &__info {
      display: flex;
      width: 300px;
      border-radius: 2px;
      &--name {
        margin-top: 2px;
        margin-bottom: 0px;
        @include mix.tablet {
          margin: 13px;
        }

        @include mix.desktop {
          margin: 10px;
        }
      }
      &--location {
        width: 200px;
        text-align: center;
        margin: 8;
        text-align: center;
      }
      &--gender {
        width: 200px;
        text-align: center;
        margin: 8;
      }
      &--age {
        color: var.$primary-color;
        max-width: 35px;
        height: 26px;
        font-size: 1.6rem;
        width: 200px;
        text-align: center;
        margin: 8;
      }
      @include mix.desktop {
        margin-top: 10px;
      }
    }
    &__button {
      display: block;
      background-color: var.$primary-color;
      border: none;
      border-radius: 4px;
      padding: 7px;
      cursor: pointer;
      outline: inherit;
      margin-bottom: 10px;
      font-family: inherit;
      color: var.$secondary-color;
      position: absolute;
      margin-top: 140px;
      height: 30px;
      font-size: 15px;

      @include mix.tablet {
        margin-bottom: 0;
        margin-top: 220px;
        font-size: 14px;
        height: 40px;
        width: 100px;
      }

      @include mix.desktop {
        margin-top: 210px;
        font-size: 14px;
      }
    }
  }

  .usersContainer:first-child {
    margin-top: 0px;

    @include mix.tablet {
      margin-top: 24px;
    }
  }
}
.usersContainer__button:hover {
  background-color: rgba(137, 179, 74, 0.442);
}

.profilesContainer .usersContainer {
  margin: 18.5px;
  @include mix.tablet {
    margin: 28px;
  }
  @include mix.desktop {
    margin: 22px;
  }
}

.filterUsers__button,
.paginationButtonBack,
.paginationButtonNext {
  background-color: var.$secondary-color;
  border: none;
  border-radius: 4px;
  padding: 7px;
  cursor: pointer;
  outline: inherit;
  margin-bottom: 10px;
  font-family: inherit;
  color: rgb(0, 0, 0);
  height: 30px;
  width: 90px;
  margin-left: 7px;

  @include mix.tablet {
    width: 90;
    height: 40px;
    font-size: 20px;
  }

  @include mix.desktop {
    width: 90;
    height: 28px;
    font-size: 13px;
  }
}
.buttonWrapper {
  .paginationButtonNext {
    margin-right: 40px;
  }
}
