// mobile first

.pageTitle {
  margin: 0;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 380px;

  .usersContainer {
    background-color: rgb(195, 188, 188);
    width: 90%;
    margin-top: 30px;

    p {
      margin: 0;
    }
  }
  .usersContainer:first-child {
    margin-top: 5px;
  }

  .usersContainer__img {
    margin-left: 105px;
    margin-top: 10px;
  }
}
